@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

$font: "Lato", sans-serif;
$color-primary: #f2a908;
$color-primary-light: #edc420;
$color-primary-dark: #23272b;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$red: red;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
