@import '../abstracts/variables';

.inbox-wrapper {
    font-family: inherit;
    display: grid;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.12);
    background-color: white;
    grid-template-columns: auto auto;
    position: relative;
    margin: 10em 2em 10em;
    

    & .sidebar-conversation-list {
        display: flexbox;
        flex-flow: column nowrap;
        justify-items: start;
        border-right: 1px solid #ededed;
        
        min-width: 25em;
        height:100%;

        & ul {
           list-style: none;
        }

        & .conversation-cell {
            display: flex;
            width:100%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid #ededed;
            justify-content: start;
            align-items: center;
            & img {
                margin-left: 1em;
                width: 4.5em;
                height: 4.5em;
                border-radius: 50%;
            }
            
            &:hover {
                background: #efefef;
            }

            .selected {
                background: $color-primary-light;
            }

        }

    }

    & .chat {
        width: inherit;
        .chat-header {
            display: flex;
            padding-top: 1em;
            padding-bottom: 1em;
            align-items: center;
            border-bottom: 2px solid #ededed;
            
            & img {
                margin-left: 1em;
                border-radius: 50%;
                width: 5em;
                height: 5em;
            }
            
        
            .chat-with {
                margin-left: 1em;
                font-weight: bold;
                font-size: 16px;
            }    
        }

        .chat-history {
            //padding: 30px 30px 20px;
            border-bottom: 2px solid #ededed;
            overflow-y: scroll;
            height: 575px;
            
            .message-data {
              margin-bottom: 15px;
            }
            
            .message-data-time {
              color: lighten(#92959E, 8%);
              padding-left: 6px;
            }

        }

        .chat-message {
            display: flex;
            flex-direction: column;
            
            //padding: 30px;
            
            & textarea {
                margin-top: 1em;
                width: 80%;
                align-self: center;
                background: #efefef;
                border: none;
                padding: 10px 20px;
                font: 14px/22px "Lato", Arial, sans-serif;
                margin-bottom: 1em;
                border-radius: 5px;
                resize: none;
              
            }
            
            & button {
                float: right;
                align-self: flex-end;
                margin-bottom: 1em;
                margin-right: 4em;
            }
          }

    }
}