@import '../abstracts/variables';

.invitation_wrapper {
    display: flex;
    width: 100%;
    border-top: 1px solid #ededed;
    align-items: center;
    padding: 1em 1em 1em;
    
    & img {
        border-radius: 50%;
        border: 1px solid transparent;
        width: 8em;
        height: 8em;
    }

    & h2 {
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
    }

    &__info {
        display: flex;
        align-items: center;

        & .user_info {
            margin-left: 0.5em;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;

            & h3 {
                color: $color-grey-dark;
            }
        }
    }
    &__btn-actions {
        display: flex;
        align-items: space-between;
        margin-left: auto;

        .btn-reject {
            
            cursor: pointer;
            background-color: transparent;
            color: rgba(0, 0, 0, .6);
            border-radius: 2px;
            font-weight: 600;
            border:none;
            margin-right: 1em;
            font-size: 1.3em;
            
            
            &:hover {
                background: #ededed
            }
        }
    }

}