.invitation_wrapper {
    display: flex;
    width: 100%;
    border: 2px solid #ededed;
    justify-content: start;
    align-items: center;
    padding: 1em;
    
    & img {
        border-radius: 50%;
        border: 1px solid transparent;
        width: 8em;
        height: 8em;
    }

    & h2 {
        font-weight: bold;
    }

}