@import '../abstracts/variables';

nav {
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.12);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
}


.app-brand {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    color: $color-white;
    background: #222;
    padding: 22px 39px;
    vertical-align: top;
    letter-spacing: 0.2em;

    & .red {
        padding-right: 0.7em;
        color: $color-primary;
    }
    

}
  
ul.links {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    color: $color-white;
    margin: 24px 150px 0;
    font-weight: 800;
    font-size: 1.5em;
  
  
  & li {
    display: inline-block;

    & a {
        color: $color-black;
        font-weight: 500;
        padding: 0 40px;
        margin: 0 10px;
        letter-spacing: 0.18em;

        &:hover, &:active{
            text-decoration: none;
            padding: 0 38px 19px;
            border-bottom: 4px solid $red;
            font-family: $font;
            font-weight: 700;
        }
    }
  }
}
