@import "../abstracts/variables";
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

.reconnect-wrapper {
  font-family: inherit;
  display: grid;
  grid-template-columns: min-content 50%;
  position: relative;
  margin: 2em;
  grid-column-gap: 2em;

  & .sidebar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-height: 50vh;
    min-width: 20vw;
    text-align: center;

    & .profPic {
      margin: 1em 2em 1em;
      border-radius: 50% 50%;
      width: 225px;
      height: 225px;
    }

    & h2 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1em;
    }

    & h3 {
      font-size: 20px;
      font-weight: 400;
    }
  }

  & .main_content {
    overflow-y: scroll;
    height: 80vh;
    & .header {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
      background-color: $color-white;
      padding-top: 1em;
      padding-bottom: 1em;

      & h1 {
        text-align: center;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      & p {
        font-style: italic;
        text-align: center;
        font-size: 1.5em;

        margin: 0 1em 0;
      }
    }
    & ul {
      list-style-type: none;
    }
  }

  & .main_content_profile {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.12);
    background-color: $color-white;
    display: flex;
    flex-flow: column nowrap;

    & .chips {
      display: flex;
      flex-wrap: wrap;
      margin: 1em;
    }

    & .box-header {
      padding: 1em 1.4em;
      border-bottom: 1px solid #e6e6e6;
    }
    & h1 {
      margin: 0.5em;
    }
    & .header {
      align-self: center;

      & .profile_picture {
        width: 20vh;
        border-radius: 50% 50%;
        height: auto;
      }
    }

    & .essay_wrapper {
      display: flex;
      flex-direction: column;
      margin: 1em 1em;
      justify-content: flex-start;

      & .essay_title {
        width: 12em;
      }

      & .essay_content {
        border-color: black;
        font-size: 1.5em;
      }
    }

    & .btn-invite {
      text-align: center;
      padding: 1em;
    }
  }
}

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  .reconnect-wrapper {
    grid-template-columns: auto;
    grid-row-gap: 1em;
  }
}

.snip1515 {
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;

  & figcaption {
    background-color: $color-white;
  }
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #e8b563;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #f2f2f2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: "Playfair Display", Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #e8b563;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
