
@import '../abstracts/variables';

.suggestion_wrapper {
    margin: 2em 1em 2em;
    background-color: white;
    width: inherit;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.12);
    display: flex;
    height: 20vh;

    & .profile_box {
        justify-content: start;
        margin: 0 1em;
        width: 90%;

        & p {
            font-style: italic;
            overflow: hidden;
            color: $color-grey-dark;
            font-size: 1.2em;
        }

        & h3 {
            color: $color-grey-dark;
            font-weight: 300;
        }
        
        & .box_header {

            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            & h2 {
                justify-self: start;
            }
            & h3 {
                justify-self: end;
            }
        }  
    }

    & .invite_banner {
        background-color: $color-primary-light;
        height: 100%;
        white-space: nowrap;
        padding: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            width: 100%;
        }
        & span {
            width: 100%;
        }

        &:hover {
            color: white;
            background-color: lighten($color-primary-light, 8%);
        }
      

    }

}