
@import '../abstracts/variables';


/*
*/


%reset { margin: 0; padding: 0; }
%flex { display: flex; justify-content: center;	align-items: center; }
 
@mixin animated($timein: null, $delay: null) { 
 transition: all $timein ease-in-out;
  transition-delay: $delay; 
}

@mixin dimensions($width: null, $height: null) { width: $width; min-height: $height; }

   
.content{

  position: relative; 
  margin-top: 4em;
  animation: animatop 0.9s  cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards ;
  
}

.card{
  border-radius: 3px;
  padding: 2px 0px 2px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:hover {
    opacity: 0.8;
  }
    &:after {
      content: '';
      display: block;
      width: 190px;
      height: 300px;
      background: $color-primary-light;
      
      position: absolute;
      animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
  }
  
}

  .badgescard{
    border-radius: 3px;
    background-color: $color-white;
    width: 80%; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1; 
    left: 45px; 
    bottom: 10px;
    @extend %flex; 
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
    
    span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
    }

    i {
      font-size: 1.5em;
      margin: 0px 6px;
      opacity: 0.6;
    }
  }   

.firstinfo{
  @extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  margin-right: 30px;

  img{ 
    align-self: flex-start;
    margin-right: 3em;
    justify-self: flex-start;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  .profileinfo{
    
    h1{ font-size: 1.8em;}
    h3{ font-size: 1.2em;
        color: $color-primary-light;
        font-style: italic;
    }
    p.bio{
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  }
}


@keyframes animatop{
  0%{ 
    opacity: 0;
    bottom: -500px;}
  100%{  
   opacity: 1;  
  bottom: 0px;}
}
 
@keyframes animainfos{
  0%{
    bottom:  10px;}
  100%{
  bottom: -18px;}
}

@keyframes rotatemagic{
  0%{
    opacity: 0;
    transform: rotate(-0deg);
    top: -24px;
    left: -253px;
  }
  100%{
    
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
